<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include("./partials/nav") %>


    <div class="container my-3">
      <div class="row row-cols-4 g-4">
        <% allBlogs.forEach(element => { %>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="<%=element.coverImageUrl%>" class="card-img-top" style="height: 12rem; border-bottom: 2px solid lavender"" />
              <div class="card-body">
                <h5 class="card-title"><%= element.title %></h5>
                <a href="/blog/openBlog/<%= element._id %>" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

  <%- include("./partials/script") %>
  </body>
</html>
